* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #131111;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  min-width: 50vw;
  min-height: 100vh;
  padding: 0 20px;
  border-left: 1px solid rgba(92, 91, 91, 0.6705882353);
  border-right: 1px solid rgba(92, 91, 91, 0.6705882353);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;
}
main > a {
  color: #fff;
  text-decoration: none;
  background-color: #006c93;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

h1, h2, h3, h4 {
  color: rgba(255, 255, 255, 0.9);
}

p {
  color: rgb(0, 4, 255);
}

.option {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.option .options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.option .options > button {
  padding: 5px 10px;
  font-size: 18px;
  background-color: rgb(0, 4, 255);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.journeys-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-around;
  width: 100%;
}
.journeys-container .journeys {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.journeys-container .journeys .title {
  font-size: 20px;
  font-weight: 600;
}
.journeys-container .journeys .journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  border: 1px solid rgba(92, 91, 91, 0.6705882353);
  box-sizing: border-box;
  padding: 10px;
}
.journeys-container .journeys .journey .total-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.journeys-container .journeys .journey .label {
  padding: 3px;
}
.journeys-container .journeys .journey .times {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.journeys-container .journeys .journey .times .service {
  padding: 5px;
  border: 1px solid #006c93;
  background-color: #006c93;
  color: #ffffff;
  width: 100px;
}
.journeys-container .journeys .journey .times .service.walk {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  border-style: dashed;
}
.journeys-container .journeys .journey .services-info {
  display: none;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 2px;
}
.journeys-container .journeys .journey .services-info .service span.warning {
  color: red;
}
.journeys-container .journeys .journey > div {
  width: 100%;
}

.modal {
  position: fixed;
  box-sizing: border-box;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  padding: 25px;
  display: none;
  flex-direction: column;
  gap: 5px;
  border: 1px solid rgba(92, 91, 91, 0.6705882353);
  background-color: rgba(19, 17, 17, 0.937254902);
  backdrop-filter: blur(5px);
}
.modal .header {
  display: flex;
  position: relative;
  justify-content: center;
}
.modal .header .close {
  position: absolute;
  right: 0;
}
.modal .content {
  flex: 1;
}
.modal.show {
  display: flex;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form button, form input {
  background-color: #006c93;
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 2px;
}
form button {
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */