$mainColor: rgba(255, 255, 255, 0.9);
$secondColor: rgb(0, 4, 255);
$borderColor: #a09f9fab;
$bgcolor: #000;
$textColor: #fff;

$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
// $font: 'Courier New', Courier, monospace;'