* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgcolor;
    color: $textColor;
    font-family: $font;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    min-width: 50vw;
    min-height: 100vh;
    padding: 0 20px;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;

    & > a {
        color: #fff;
        text-decoration: none;
        background-color: #006c93;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
    }
}

h1, h2, h3, h4 {
    color: $mainColor;
}
p {
    color: $secondColor;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        & > button {
            padding: 5px 10px;
            font-size: 18px;
            background-color: $secondColor;
            color: #fff;
            border-radius: 5px;
            border: none;
            // border: 5px solid $mainColor;
            cursor: pointer;

            // transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            // &:hover {
            //     scale: 1.1;
            // }
            // &:active {
            //     scale: 0.95;
            // }
        }
    }
}

.journeys-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    width: 100%;
    
    .journeys {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;

        .title {
            font-size: 20px;
            font-weight: 600;
        }
        
        .journey {
            // width: fit-content;
            // width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            width: 100%;

            border: 1px solid $borderColor;
            box-sizing: border-box;
            padding: 10px;
            // border-radius: 5px;

            .total-time {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .label {
                padding: 3px;
            }

            .times {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 5px;
                cursor: pointer;
        
                .service {
                    padding: 5px;
                    border: 1px solid #006c93;
                    // border-radius: 5px;
                    background-color: #006c93;
                    color: #ffffff;
                    // width: 100%;
                    width: 100px;

                    &.walk {
                        background-color: #000;
                        color: #fff;
                        border-color: #fff;
                        border-style: dashed;
                    }
                }
            }

            .services-info {
                display: none;
                flex-direction: column;
                align-items: start;
                text-align: start;
                gap: 2px;

                .service {
                    span.warning {
                        color: red;
                    }
                }
            }

            & > div {
                width: 100%;
            }
        }
    }
}

.modal {
    position: fixed;
    box-sizing: border-box;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    padding: 25px;
    display: none;
    flex-direction: column;
    gap: 5px;

    border: 1px solid $borderColor;
    background-color: #131111ef;
    backdrop-filter: blur(5px);

    .header {
        display: flex;
        position: relative;
        justify-content: center;

        .close {
            position: absolute;
            right: 0;
        }
    }
    .content {
        flex: 1;
    }

    &.show {
        display: flex;
    }
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button, input {
        background-color: #006c93;
        padding: 5px 10px;
        color: $textColor;
        border: none;
        border-radius: 2px;
    }

    button {
        margin-top: 10px;
    }
}