* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgcolor;
    color: $textColor;
    font-family: $font;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    width: fit-content;
    min-height: 100vh;
    padding: 0 20px;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

h1, h2, h3, h4 {
    color: $mainColor;
}
p {
    color: $secondColor;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        & > button {
            padding: 5px 10px;
            font-size: 18px;
            background-color: $secondColor;
            color: #fff;
            border-radius: 5px;
            border: none;
            // border: 5px solid $mainColor;
            cursor: pointer;

            // transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            // &:hover {
            //     scale: 1.1;
            // }
            // &:active {
            //     scale: 0.95;
            // }
        }
    }
}

.journeys {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    // width: 30vw;
    // min-width: 500px;
    
    .journey {
        // width: fit-content;
        // width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        border: 1px solid $borderColor;
        padding: 5px;
        border-radius: 5px;

        .times {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            align-items: center;
            gap: 5px;
            cursor: pointer;
    
            .service {
                padding: 5px;
                border: 1px solid #006c93;
                border-radius: 5px;
                background-color: #006c93;
                color: #ffffff;

                &.walk {
                    background-color: #000;
                    color: #fff;
                    border-color: #fff;
                    border-style: dashed;
                }
            }
        }

        .services-info {
            display: none;
            flex-direction: column;
            align-items: start;
            text-align: start;
            gap: 2px;
        }

        & > div {
            width: 100%;
        }
    }
}